.header_top_main_wrap{
    background: #807957;
    padding: 10px 20px;
    margin-bottom: 30px;
}


.header_top_main_wrap img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
 
.header_top_main_wrap span{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0  5px ;
}

.header_dropdown{
    text-align: end;
}

.header_dropdown button:focus-visible,
.header_dropdown button:first-child:active,
.header_dropdown button:hover,
.header_dropdown button{
    background: none;
    padding: none;
    box-shadow: none;
    border: none;
    outline: none;
}


.main_dropdown_wrap a{
    display: block !important;
    text-decoration: none;
    color: #000;
    padding: 4px 10px;
    font-weight: 500;
    width: 180px;
    transition: 0.5s;
}

.main_dropdown_wrap a:hover {
    color: #807957;
}