.header_top_main_wrap{
    border-bottom: 1px solid #e6e6e6;
}

.header_top_main_wrap  img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
}




.header_top_main_wrap{
    width: 20%;
    margin-left: auto;
}

.accordion-item:last-of-type .accordion-button.collapsed,
.header_top_main_wrap button.accordion-button.collapsed {
    padding: 5px !important;

}

.header_top_main_wrap button{
    border: none;
    outline: none;
}